// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$shop-palette: (
	50: #fff,
	100: #fff,
	200: #fff,
	300: #fff,
	400: #fff,
	500: #fff,
	600: #fff,
	700: #fff,
	800: #fff,
	900: #fff,
	A100: #fff,
	A200: #fff,
	A400: #fff,
	A700: #fff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #ffffff,
	),
);

$shop-primary: mat.define-palette($shop-palette);
$shop-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shop-theme: mat.define-light-theme(
	(
		color: (
			primary: $shop-primary,
			accent: $shop-accent,
			warn: $shop-warn,
		),
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shop-theme);

/* You can add global styles to this file, and also import other style files */

@import url("./assets/fonts/fonts.css");

:root {
	--default-black: rgba(0, 0, 0, 1);
	--default-white: rgba(234, 234, 234, 1);
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	min-height: 100%;
	letter-spacing: 0.005em;
	font-family: Tahoma;
	background-color: var(--default-black);
	color: var(--default-white);
}

.flex {
	display: flex;
}

.col {
	flex-direction: column;
}

.row {
	flex-wrap: row;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.mat-mdc-menu-item-text {
	color: #fff;
}

.mat-mdc-menu-content {
	background-color: #000 !important;
	border: 1px solid #fff;
	border-radius: 8px;
}

.secondary-flat-button {
	background-color: #fff;
	color: #000;
}
